{% extends 'base.html' %}

{% block content %}
<h1>당근이시죠?</h1>

{% if user.is_authenticated %}
<a href="{% url 'products:create' %}"><button>새 물건 등록하기</button></a>
{% else %}
<a href="{% url 'accounts:login' %}"><button>로그인하고 새 물건 등록하기</button></a>
{% endif %}

{% for product in products %}
<a href="{% url 'products:product_detail' product.id %}">
    <p>[{{ product.id }}] {{ product.title }}</p>
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="">
    {% endif %}
</a>

{% endfor %}

{% endblock content %}