{% extends 'base.html' %}

{% block content %}
<h1>Product Detail</h1>

<p>제목: {{ product.title }}</p>
<p>내용: {{ product.content }}</p>

{% if product.image %}
    <img src="{{ product.image.url }}" alt="">
{% endif %}

<p>작성일시: {{ product.created_at }}</p>
<p>수정일시: {{ product.updated_at }}</p>


<a href="{% url 'products:update' product.id%}">
    <button>수정하기</button>
</a>

<form action="{% url 'products:delete' product.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
</form>

<hr>
{% for comment in comments %}
    <ul>
        <li>{{ comment.content }} | {{ comment.created_at }}</li>
    </ul>
{% endfor %}


<form action="{% url 'products:create_comment' product.pk%}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="댓글 작성">
</form>

<a href="{% url 'products:products' %}"><button>목록 보기</button></a>

{% endblock content %}